{% extends "_layouts/site" %}
{% set title = entry.title %}
{# Header image for site #}
{% block header %}

      {% if entry.headingPhoto.first() != null %}
      <div class="container article-header">
      <div class="header-image">
      {% set HeaderImage = entry.headingPhoto.first() %}
      <img src="{{ HeaderImage.url }}" style="max-width:100%;" alt="Header Image">
      <div class="article-header-wrapper">
        <div class="article-header">
          <h1>{{ entry.title }}</h1>
        </div>
      </div>
      {% else %}
      {% set color = entry.headerColor %}
      <div class="container article-header-color " style="background-color:{{ color }};">
        <h1 class="articleTitle">{{ entry.title }}</h1>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
<article class="blog-post">


<p>{{ entry.shortDescription }}</p>
<small>{{ entry.postDate | date('M d, Y') }}</small>

</article>
{% endblock %}
